.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: rgba(255, 255, 255, 0);;
    padding: 20px;
  }
  
  /* Login Form */
  .login-form {
    width: 400px;
    background:rgba(255, 255, 255, 0.8);;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  /* LOGO */
  .logo-placeholder {
    font-size: 24px;
    font-weight: bold;
    color: #1e1e69;
    margin-bottom: 20px;
  }
  

  .title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
  }
  
  .subtitle {
    font-size: 14px;
    color: #777;
    margin-bottom: 20px;
  }
  
  /* 'Adding margin between input bars */
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-control {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ddd;
    font-size: 14px;
  }
  
  /* pasword group */
  .password-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .forgot-password {
    font-size: 12px;
    color: #3D3B8E;
    text-decoration: none;
  }
  
  .forgot-password:hover {
    text-decoration: underline;
  }
  
  /* Login Button */
  .login-btn {
    width: 100%;
    padding: 12px;
    background: linear-gradient(90deg, #4e5ec5, #3D3B8E);
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 8px;
    transition: background 0.3s ease;
  }
  
  .login-btn:hover {
    background: linear-gradient(90deg, #0056b3, #009acd);
  }
  
  /* Register Link */
  .register-link {
    font-size: 14px;
    margin-top: 10px;
  }
  
  .register-link a {
    color: #3D3B8E;
    text-decoration: none;
    font-weight: bold;
  }
  
  .register-link a:hover {
    text-decoration: underline;
  }
  
  /* Error Text */
  .error-text {
    color: red;
    font-size: 14px;
    margin-top: 10px;
  }
  
  
  /* Responsive Design for Mobile */
  @media (max-width: 768px) {
    .login-container {
      flex-direction: column;
    }
  
    .login-form {
      width: 90%;
      margin-bottom: 20px;
    }

  }